@model List<ToDoListMVC.Models.Work>

@{
    ViewBag.Title = "Completed";
    Layout = "~/Shared/_LayoutPage1.cshtml";
}

<div class="container mt-5">
    @if (TempData["Mesaj"] != null)
    {
        <div class="alert alert-success">
            @TempData["Mesaj"]
        </div>
    }
    <div class="card">
        <div class="card-header">
            <div class="float-start">
                Tamamlananlar
            </div>
            <div class="float-end">
                <a href="@Url.Action("Index","Work")" style="text-decoration:none">Aktif Görevler</a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-success">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Başlık</th>
                            <th>Oluşturma Tarihi</th>
                            <th>İşlem</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var work in Model)
                        {
                            <tr>
                                <td>@work.Id</td>
                                <td>@work.Title</td>
                                <td>@work.Created</td>
                                <td>
                                    <a href="@Url.Action("Back","Work",new {id=work.Id})" style="text-decoration:none"> Geri Getir </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

